<!doctype html>
<html>
<head>
<meta charset="utf-8">
<body>
<ul>

<li style="list-style:none">
<div style="color:#00c">
语晨  2014-08-03 12:06:52
</div>
<div style="padding-left: 1cm">没有啦<br></div>
</li>

<li style="list-style:none">
<div style="color:#00c">
语晨  2014-08-03 12:06:57
</div>
<div style="padding-left: 1cm">你在干嘛<br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-03 12:22:15
</div>
<div style="padding-left: 1cm">在表白<IMG src="images/201319.gif" sysface=101><br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-03 12:37:36
</div>
<div style="padding-left: 1cm">语晨呢，这么晚还没休息？<br></div>
</li>

<li style="list-style:none">
<div style="color:#00c">
语晨  2014-08-04 00:29:42
</div>
<div style="padding-left: 1cm"><IMG src="images/201320.gif" sysface=0><br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:48:57
</div>
<div style="padding-left: 1cm">语晨安安<br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:49:00
</div>
<div style="padding-left: 1cm"><IMG src="images/201321.gif" sysface=13><br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:49:13
</div>
<div style="padding-left: 1cm">咋这个表情呢<br></div>
</li>

<li style="list-style:none">
<div style="color:#00c">
语晨  2014-08-04 00:53:06
</div>
<div style="padding-left: 1cm">师兄还未休息<br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:53:33
</div>
<div style="padding-left: 1cm"><IMG src="images/201322.jpg" ><br></div>
</li>

<li style="list-style:none">
<div style="color:#00c">
语晨  2014-08-04 00:54:05
</div>
<div style="padding-left: 1cm">这是什么<br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:54:15
</div>
<div style="padding-left: 1cm">昨天那花画得太挫，补画一个<br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:54:26
</div>
<div style="padding-left: 1cm">结果还是很挫<br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:54:54
</div>
<div style="padding-left: 1cm">果然，语晨也看不出来<br></div>
</li>

<li style="list-style:none">
<div style="color:#00c">
语晨  2014-08-04 00:55:23
</div>
<div style="padding-left: 1cm">你画的啊<br></div>
</li>

<li style="list-style:none">
<div style="color:#00c">
语晨  2014-08-04 00:55:28
</div>
<div style="padding-left: 1cm">还可以<br></div>
</li>

<li style="list-style:none">
<div style="color:#00c">
语晨  2014-08-04 00:55:40
</div>
<div style="padding-left: 1cm">很梦幻的感觉<br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:55:54
</div>
<div style="padding-left: 1cm"><IMG src="images/201323.gif" sysface=101><br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:56:09
</div>
<div style="padding-left: 1cm">很好的安慰方法<br></div>
</li>

<li style="list-style:none">
<div style="color:#0c0">
星慟  2014-08-04 00:56:27
</div>
<div style="padding-left: 1cm">我就厚面皮的接受<br></div>
</li>

</ul>
</body>
</html>